body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
}

.clock-container {
    text-align: center;
}

#date {
    font-size: 2rem;
    margin-bottom: 10px;
}

#clock {
    font-size: 3rem;
    font-weight: bold;
}
